{% extends "base.html" %}

{% block content %}

<main class="welcome-main">
    <h1 style="text-align: center;">Scissors</h1>
    <h2 style="text-align: center;">Welcome to our game</h2>
    <hr>
    <p>
        You can choose between three different types
        of the game. You can play either with a <a href="/game/hum_vs_comp">computer</a>
        or with a <a href="/game/hum_vs_hum">friend</a>. You can even let the computer
        <a href="/game/comp_vs_comp">play on its own</a>!
    </p>
</main>

{% endblock %}